section.mention-box .mention-information li.toxicity ul li {
  background: #fff;
  padding: 2px 6px 4px 6px !important;
  font-size: 12px;
  border: solid 1px #babac8;
  color: #babac8;
  font-size: 11px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  font-weight: 400;
  width: auto;
  text-align: center;
  height: 24px;
  border: solid 1px #bb0023 !important;
  color: #bb0023 !important;
  background-position: 93% -28px;
}

section.mention-box .mention-information li.toxicity ul li.non-toxic {
  border: 0px !important;
  color: gray !important;
}
